AI-Powered MSFT Daily Stock Report Automation (1).json
{
  "name": "AI-Powered MSFT Daily Stock Report Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "7a350941-c155-4a06-86e5-cba946ed634d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=MSFT&apikey= B546YS47JTVLIAJP",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "37d182bd-379e-4a22-ba98-e1b673fe2ec8",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=You are a financial analyst. I am giving you real MSFT stock data. \nThe MOST RECENT date in this data is today's report date.\n\nSTRICT RULES:\n- Use ONLY the data provided below\n- The first date listed IS today's date - use it exactly\n- Use the exact numbers from the data - no approximations\n- Do NOT use any dates from your training data\n- Do NOT use October 2023 or any historical dates\n\nWrite a professional stakeholder report including:\n1. Today's date (first date in the data) and closing price\n2. Price comparison vs previous 3 trading days with exact numbers\n3. Volume analysis with actual figures\n4. Trend summary (bullish/bearish/sideways)\n5. One sentence recommendation\n\nHere is today's data:\n{{ JSON.stringify($('HTTP Request').item.json['Time Series (Daily)']) }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        416,
        0
      ],
      "id": "ee18c363-0331-432b-8d31-08de01206f6d",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "BjvyUFINJwwV1w0G",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "mulugurutareesh@gmail.com",
        "subject": "=Daily MSFT Stock Report - {{ $now.format('yyyy-MM-dd') }}",
        "emailType": "text",
        "message": "={{ $json.output[0].content[0].text }}\n\n---\nView Live Dashboard: https://lookerstudio.google.com/s/gDdCzApSqMU\n\nThis report is generated automatically every morning at 9am.\nPowered by n8n + OpenAI + Alpha Vantage",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        768,
        0
      ],
      "id": "e25bcbf7-2cf1-4d41-b29f-cb834186855d",
      "name": "Send a message",
      "webhookId": "95e3a73e-3b8f-428f-a882-8baa087b9125",
      "credentials": {
        "gmailOAuth2": {
          "id": "5rH1kUjlnK3N7jX4",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1b8x_oNdLCN9fkvf8TGA4fi5COV2ut2GrjwTsvIh0jjM",
          "mode": "list",
          "cachedResultName": "MSFT Stock Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1b8x_oNdLCN9fkvf8TGA4fi5COV2ut2GrjwTsvIh0jjM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1b8x_oNdLCN9fkvf8TGA4fi5COV2ut2GrjwTsvIh0jjM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ Object.keys($('HTTP Request').item.json['Time Series (Daily)'])[0] }}",
            "Open": "={{ $('HTTP Request').item.json['Time Series (Daily)'][Object.keys($('HTTP Request').item.json['Time Series (Daily)'])[0]]['1. open'] }}",
            "High": "={{ $('HTTP Request').item.json['Time Series (Daily)'][Object.keys($('HTTP Request').item.json['Time Series (Daily)'])[0]]['2. high'] }}",
            "Low": "={{ $('HTTP Request').item.json['Time Series (Daily)'][Object.keys($('HTTP Request').item.json['Time Series (Daily)'])[0]]['3. low'] }}",
            "Close": "={{ $('HTTP Request').item.json['Time Series (Daily)'][Object.keys($('HTTP Request').item.json['Time Series (Daily)'])[0]]['4. close'] }}",
            "Volume": "={{ $('HTTP Request').item.json['Time Series (Daily)'][Object.keys($('HTTP Request').item.json['Time Series (Daily)'])[0]]['5. volume'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Open",
              "displayName": "Open",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "High",
              "displayName": "High",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Low",
              "displayName": "Low",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Close",
              "displayName": "Close",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Volume",
              "displayName": "Volume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        0
      ],
      "id": "fd15c9da-5180-4c42-a065-4ca1b05585cd",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DiAmCOHQbqHTm3fr",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9612ce72-32cd-4701-8eed-f3cef9eb48e7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "208ffc4de7a95503d9df8657436b8dd11028a7ceb1898c11786afe073e00c312"
  },
  "id": "46tZ5AcrJTupQ79Q",
  "tags": []
}