AI-Powered MSFT Daily Stock Report Automation.json
{
  "name": "AI-Powered MSFT Daily Stock Report Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "7a350941-c155-4a06-86e5-cba946ed634d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=MSFT&apikey= B546YS47JTVLIAJP",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "37d182bd-379e-4a22-ba98-e1b673fe2ec8",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=You are a financial analyst. Below is real Microsoft (MSFT) \nstock data. Use the ACTUAL numbers from this data — do not \nuse placeholders like [insert date] or $[Current Price].\n\nWrite a concise professional report including:\n1. Today's date and actual closing price\n2. Price comparison vs previous 3 days with real numbers\n3. Volume analysis using actual volume figures\n4. Trend summary (bullish/bearish/sideways)\n5. One sentence stakeholder recommendation\n\nData:\n{{ $json[\"Time Series (Daily)\"] }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        416,
        0
      ],
      "id": "ee18c363-0331-432b-8d31-08de01206f6d",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "BjvyUFINJwwV1w0G",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "mulugurutareesh@gmail.com",
        "subject": "=Daily MSFT Stock Report - {{ $now.format('yyyy-MM-dd') }}",
        "emailType": "text",
        "message": "={{ $json.output[0].content[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        768,
        0
      ],
      "id": "e25bcbf7-2cf1-4d41-b29f-cb834186855d",
      "name": "Send a message",
      "webhookId": "95e3a73e-3b8f-428f-a882-8baa087b9125",
      "credentials": {
        "gmailOAuth2": {
          "id": "5rH1kUjlnK3N7jX4",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "eda6c899-56d2-4f20-90f3-0c58804ae407",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "208ffc4de7a95503d9df8657436b8dd11028a7ceb1898c11786afe073e00c312"
  },
  "id": "46tZ5AcrJTupQ79Q",
  "tags": []
}